qdf.AcceptanceTests/Alpari.QualityAssurance.SpecFlowExtensions/TestData/TestResult.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="test-results">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="environment">
          <xs:complexType>
            <xs:attribute name="nunit-version" type="xs:string" use="required" />
            <xs:attribute name="clr-version" type="xs:string" use="required" />
            <xs:attribute name="os-version" type="xs:string" use="required" />
            <xs:attribute name="platform" type="xs:string" use="required" />
            <xs:attribute name="cwd" type="xs:string" use="required" />
            <xs:attribute name="machine-name" type="xs:string" use="required" />
            <xs:attribute name="user" type="xs:string" use="required" />
            <xs:attribute name="user-domain" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="culture-info">
          <xs:complexType>
            <xs:attribute name="current-culture" type="xs:string" use="required" />
            <xs:attribute name="current-uiculture" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="test-suite">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="test-suite">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="results">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="test-suite">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="results">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="test-suite">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="results">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="test-case">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="categories">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element maxOccurs="unbounded" name="category">
                                                                      <xs:complexType>
                                                                        <xs:attribute name="name" type="xs:string" use="required" />
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                              <xs:element minOccurs="0" name="failure">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="message" type="xs:string" />
                                                                    <xs:element name="stack-trace" type="xs:string" />
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="name" type="xs:string" use="required" />
                                                            <xs:attribute name="description" type="xs:string" use="required" />
                                                            <xs:attribute name="executed" type="xs:string" use="required" />
                                                            <xs:attribute name="result" type="xs:string" use="required" />
                                                            <xs:attribute name="success" type="xs:string" use="required" />
                                                            <xs:attribute name="time" type="xs:decimal" use="required" />
                                                            <xs:attribute name="asserts" type="xs:unsignedByte" use="required" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element minOccurs="0" name="test-suite">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="results">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element maxOccurs="unbounded" name="test-suite">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="results">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element maxOccurs="unbounded" name="test-case">
                                                                                  <xs:complexType>
                                                                                    <xs:sequence>
                                                                                      <xs:element name="categories">
                                                                                        <xs:complexType>
                                                                                          <xs:sequence>
                                                                                            <xs:element name="category">
                                                                                              <xs:complexType>
                                                                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                                                              </xs:complexType>
                                                                                            </xs:element>
                                                                                          </xs:sequence>
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="name" type="xs:string" use="required" />
                                                                                    <xs:attribute name="description" type="xs:string" use="required" />
                                                                                    <xs:attribute name="executed" type="xs:string" use="required" />
                                                                                    <xs:attribute name="result" type="xs:string" use="required" />
                                                                                    <xs:attribute name="success" type="xs:string" use="required" />
                                                                                    <xs:attribute name="time" type="xs:decimal" use="required" />
                                                                                    <xs:attribute name="asserts" type="xs:unsignedByte" use="required" />
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                              </xs:sequence>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="type" type="xs:string" use="required" />
                                                                        <xs:attribute name="name" type="xs:string" use="required" />
                                                                        <xs:attribute name="description" type="xs:string" use="required" />
                                                                        <xs:attribute name="executed" type="xs:string" use="required" />
                                                                        <xs:attribute name="result" type="xs:string" use="required" />
                                                                        <xs:attribute name="success" type="xs:string" use="required" />
                                                                        <xs:attribute name="time" type="xs:decimal" use="required" />
                                                                        <xs:attribute name="asserts" type="xs:unsignedByte" use="required" />
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="type" type="xs:string" use="required" />
                                                            <xs:attribute name="name" type="xs:string" use="required" />
                                                            <xs:attribute name="executed" type="xs:string" use="required" />
                                                            <xs:attribute name="result" type="xs:string" use="required" />
                                                            <xs:attribute name="success" type="xs:string" use="required" />
                                                            <xs:attribute name="time" type="xs:decimal" use="required" />
                                                            <xs:attribute name="asserts" type="xs:unsignedByte" use="required" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="type" type="xs:string" use="required" />
                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                <xs:attribute name="executed" type="xs:string" use="required" />
                                                <xs:attribute name="result" type="xs:string" use="required" />
                                                <xs:attribute name="success" type="xs:string" use="required" />
                                                <xs:attribute name="time" type="xs:decimal" use="required" />
                                                <xs:attribute name="asserts" type="xs:unsignedByte" use="required" />
                                                <xs:attribute name="description" type="xs:string" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="type" type="xs:string" use="required" />
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="executed" type="xs:string" use="required" />
                                    <xs:attribute name="result" type="xs:string" use="required" />
                                    <xs:attribute name="success" type="xs:string" use="required" />
                                    <xs:attribute name="time" type="xs:decimal" use="required" />
                                    <xs:attribute name="asserts" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="executed" type="xs:string" use="required" />
                        <xs:attribute name="result" type="xs:string" use="required" />
                        <xs:attribute name="success" type="xs:string" use="required" />
                        <xs:attribute name="time" type="xs:decimal" use="required" />
                        <xs:attribute name="asserts" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="executed" type="xs:string" use="required" />
            <xs:attribute name="result" type="xs:string" use="required" />
            <xs:attribute name="success" type="xs:string" use="required" />
            <xs:attribute name="time" type="xs:decimal" use="required" />
            <xs:attribute name="asserts" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="total" type="xs:unsignedByte" use="required" />
      <xs:attribute name="errors" type="xs:unsignedByte" use="required" />
      <xs:attribute name="failures" type="xs:unsignedByte" use="required" />
      <xs:attribute name="not-run" type="xs:unsignedByte" use="required" />
      <xs:attribute name="inconclusive" type="xs:unsignedByte" use="required" />
      <xs:attribute name="ignored" type="xs:unsignedByte" use="required" />
      <xs:attribute name="skipped" type="xs:unsignedByte" use="required" />
      <xs:attribute name="invalid" type="xs:unsignedByte" use="required" />
      <xs:attribute name="date" type="xs:date" use="required" />
      <xs:attribute name="time" type="xs:time" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>